.container {
    padding-right: 5px;
    display: flex;
    
    align-items:center;
    justify-content:space-between
    

}
.active{
    align-items:center;
    vertical-align:text-bottom;  
    /* align-items:center; */
    text-align:center;
    background-color: grey;
    width: 40px;
    height: 30px;
    border-radius: 10px;
    margin: 5px;
    padding-top:9px;
    padding-bottom:2px;
    font-size: 130%;
    color: blanchedalmond;
}
.nav{
    flex-direction:column-reverse;
    display: flex;
    
    align-items:center;
    

}
.boton {
    
    align-items:center;
    vertical-align:text-bottom;  
    /* align-items:center; */
    text-align:center;
    background-color: rgb(3, 26, 34);
    width: 40px;
    height: 30px;
    border-radius: 10px;
    margin: 5px;
    padding-top:9px;
    padding-bottom:2px;
    font-size: 130%;
    color: white;
}
.boton:hover {
    color: blanchedalmond;
    background-color: grey;
}